uvicorn==0.34.0
fastapi==0.139.0
sqlalchemy==2.0.36
alembic==1.14.0
psycopg2-binary==2.9.10
pydantic-settings==2.7.1
pydantic==2.12.5
asyncio==3.4.3
asyncpg==0.29.0
websockets==13.1
GeoAlchemy2==0.14.4
python-jose==3.3.0
cryptography==49.0.0
passlib==1.7.4
bcrypt==4.2.1
redis==5.2.1
sentry-sdk==2.19.2
fastapi-mail==1.6.5
pyhumps==3.8.0
fastapi-pagination==0.15.15
pandas==2.2.3
uvicorn-worker==0.3.0
cython==3.0.11
fastapi-utilities==0.2.0
reportlab==4.4.9
pypdf2==3.0.1
Pillow==11.0.0
httpx==0.28.1
python-multipart==0.0.20
nh3==0.2.21
boto3==1.35.99
